<launch>
    <!-- Iniciar Planificador Global -->
    <node pkg="proyecto_cpr_pkg" type="planificador_global.py" name="planificador_global" output="screen" />

    <!-- Iniciar Planificador Local -->
    <node pkg="proyecto_cpr_pkg" type="planificador_local.py" name="planificador_local" output="screen" />



</launch>

